@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --background: #f2fbf6;
  --foreground: #0f0f0f;
  --accent: #0ac18e;
  --surface: #f9fffb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

a {
  color: var(--foreground);
}

